/bin
/charts/clusterpedia/charts/*.tgz
.idea
.vscode

# OSX trash
.DS_Store

# Certificate related credential files
*.pem
*.crt
*.cer
*.key
*.p12

# apiserver local up cert trash
apiserver.local.config
